body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:29px;
  width:129px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:249px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:110px;
  width:298px;
  height:249px;
  color:#1E1E1E;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:294px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:154px;
  width:57px;
  height:17px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:220px;
  width:43px;
  height:17px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:152px;
  width:145px;
  height:21px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:216px;
  width:145px;
  height:21px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:293px;
  width:162px;
  height:34px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:258px;
  width:78px;
  height:16px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u49_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:257px;
  width:62px;
  height:16px;
  font-size:13px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
